/*** ESTILO DE MAIN ***/

.booksTitle{
    padding-bottom: 15px;
}

.booksTitle h1{
    font-family: 'Crimson Text', serif;
    font-size: 35px;
}

.booksTitle p{
    font-family: 'Bitter', serif;
    font-size: 16px;
}

.booksContent{
    padding-top: 15px;
    padding-bottom: 30px;
}

/*************************************************************************************************/

/*** ESTILO DE TABLA ***/

.booksTable h2{
    font-family: 'Crimson Text', serif;
    font-size: 25px;
    padding-bottom: 10px;
}

.booksTable{
    padding-bottom: 15px;
}

.tableContent{
    width: 100%;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 16px;
}

.tableContent, th, td{
    border-collapse: collapse;
    border: 2px solid;
}

/*************************************************************************************************/

/*** ESTILO DE FORMULARIO ***/

.booksForm{
    padding-top: 15px;
}

.booksForm h2{
    font-family: 'Crimson Text', serif;
    font-size: 25px;
    padding-bottom: 10px;
}

.booksForm, p, span{
    font-family: 'Bitter', serif;
    font-size: 16px;
}