/* Hoja global de la aplicacion. Que sea global no significa que es la unica que va a haber, solo que es la que utilizamos para
   estilizar todas las partes del sitio que se repiten en todas las paginas. Por ejemplo, la barra de navegacion o footer.
   Especificidad: no tiene que ver con el orden, tiene que ver con una jerarquia que especifica cuando un selector es mas 
                  importante que otro. Si colocamos el cursor sobre los elementos declarados, se nos indica el nivel de 
                  especificidad, por ejemplo, el de menor especificidad, el selector de etiqueta seria (0, 0, 1), luego mas
                  arriba tenemos el selector de clase con (0, 1, 0), y el caso de el selector de ID seria (1, 0, 0), la maxima
                  especificidad. Sin embargo, el selector universal, al afectar a todos los elementos, su nivel de especificidad
                  es el mas bajo de todos, al ser el selector mas generico.
*/

/*** SELECTOR UNIVERSAL ***/
*{
 color: black;
}


/*

*** SELECTOR DE ETIQUETA ***
p{
    color: white;
    background-color: lightblue;
}


*** SELECTOR DE CLASE ***
.boca{
    color: yellow;
    background-color: blue;
}


*** SELECTOR DE ATRIBUTO ***
 No todos los atributos en html tienen su forma acortada, solo hay dos y son las clases y los ID. Pero si se desea estilizar 
 por medio del atributo name, type, href, etc, no sera posible ya que no existe un simbolo que lo represente. 

p[class="river"]{
    color: white;
    background-color: red;
}

input[type="text"]{
    color: red;
}


*** SELECTOR DE ID ***
 Solo puede identificar a un elemento a la vez.
#arquero{
    color: orange;
    background-color: purple;
}


*** IMPORTANT ***
 Adquiere mayor nivel de especificidad por sobre los demas niveles. El elemento destroza su nivel de especificidad.

p {
 color: red !important;
}

.boca {
 color: blue;
}


*** SELECTOR DE HIJO ***
section > h2{
    color: orange;
}

section > article > h2{
    color: red;
}

.pepe > article > h2{
    color: red;
}

*** SELECTOR DE DESCENDIENTES ***
section h2{
    color: red;
}

*** SELECTOR DE HERMANOS ***
Se utiliza el operador virgulilla
h2 ~ p {
    color: red;
}

*** SELECTOR DE HERMANOS ADYASCENTES ***
h2 + p {
    color: red;
}


*** PSEUDO CLASE: nth-child() ***
section > p:nth-child(2){
    color: red;
}

*/


.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

input[type="text"]{
    color: red;
}