/*** ESTILO DE MAIN ***/

.biografiaTitle{
    padding-bottom: 10px;
}

.biografiaContent{
    text-align: justify;
}

.biografiaTitle h1{
    font-family: 'Crimson Text', serif;
    font-size: 35px;
}

.biografiaContent h2{
    font-family: 'Crimson Text', serif;
    font-size: 25px;
}

.biografiaContent p{
    font-family: 'Bitter', serif;
    font-size: 16px;
}