
/* FONDOS

    Imagenes: Para poner una imagen de fondo en un contenedor utilizamos:
    - background-image: Recibe una url como parametro ya sea para una imagen local o externa.
    
    Con el siguiente parametro evitamos que se repita la imagen en el fondo:
    - background-repeat: no-repeat

    Tenemos un parametro para que la imagen se adapte al contenedor:
    - background-size: Por otro lado recibe dos valores:
        - cover: Hace que la imagen ocupe todo el contenedor, el alto y el ancho, pero hace que la imagen se escape del contenedor.
        - contain: Busca cubrir el alto y el ancho del contenedor, pero sin que la imagen se escape. 

    Teniendo en cuenta que cover hace que la imagen ocue el 100% del contenedor, es la opcion que se requiere en este caso .Cuando la imagen se escapa 
    hacia algunos de los ejes, es posible correrla, ya que la imagen no esta cortada, sino que esta oculta. Lo hacemos mediante:
    - background-position: Puede ser mediante:
        - Left, rigt o center.
        - X% Y%: Tenemos dos porcentuales que permiten acomodar la imagen en funcion de los ejex X e Y.
   


.container{
    width: 400px;
    height: 400px;
    background-image: url(https://www.infobae.com/resizer/v2/35RZV65GWZFWRPUIWJK63OTGE4.jpg?auth=a304f056d1eefa54b46b21113a02f4bc8415b9ad800dcb08c4d3492aa4574035&smart=true&width=992&height=558&quality=85);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-size: contain; 
    background-position: center;  
    background-position: 75% 50%;

}

.filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);


    NO ES PARA HOY
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

*/

/*
    EFECTO FONDO DE PANTALLA ESTATICO Y ENVIADO AL FONDO

*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://wallpapers.com/images/featured/darth-vader-4k-background-spxbi8jmroon9uht.jpg); 
    background-repeat: no-repeat;
    background-size: cover;  /*Aplicamos cover cuando se utiliza un attachment fiexd. */
    background-attachment: fixed;  /*Fijamos la imagen. */
}

section {
    height: 100vh;
    width: 100% ;
}

.home {
    background-color: rgba(0, 0, 0, 0.5);
}

.solid {
    background-color: white;
}

.transparent {
    background-color: rgba(255, 255, 0, 0.25);
}


