/********** FONT TYPES IMPORTATION **********/

@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');


/********** CUSTOMS PROPERTIES **********/

/* 
En esta seccion contiene variables, las cuales son basicamente espacios de memoria en la computadora 
al que se le puede colocar un nombre y un valor.
A las variables las definimos en la raiz de css, ya que la raiz de css es la misma para todas las 
hojas de css, por ende, sera posible acceder a dicha variable desde cualquier hoja de css del proyecto.
Todas las variables en css arrancan con "--", seguido de cualquier nombre generico.
*/

:root{
    --primary-color: #55a455;
    --primary-alpha-color: #55a45580;
    --secundary-color: #785f44;
    --white-color: #ffffff;
    --primary-font: "Poller One", cursive;
}

/********** RESET **********/

/* 
Esta seccion tiene como objetivo:
- Eliminar todas las configuraciones por defecto que tenga css que puedan generar inconvenientes. 
- Establecer el valor de los REM.
- Aplicar la propiedad Overflow: Lo que hace es manejar los desbordes tanto en el eje X como en 
  el eje Y. 
- Aplicar correcciones para los enlaces y los titulos en h1.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--primary-font);
    overflow-x: hidden; 
    background-image: url("https://wallpapercave.com/wp/wp6850352.jpg");
}

a {
    text-decoration: none;
    color: var(--white-color);
}

h1 {
    color: var(--white-color);
}

/********** UTILITIES **********/

/*
Esta seccion contiene clases prefabricadas exclusivamente.
- Una clase para centrar componentes.
- Un boton prefabricado.
*/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;  /*Se declara de nuevo con propositos de reutilizacion.*/
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 0;
    font-family: var(--primary-font);
    height: 3.3rem;
    transition: 0.3s;
    width: 200px;
}

.btn:hover {
    background-color: var(--primary-alpha-color);
}

/********** PAGE STYLES **********/

/*
Se colocan los estilos especificos de cada pagina o componente del sitio.
Ademas, se utilizan separadores por cada parte.
Se va a utilizar CSS Nesting para estructurar el contenido del css. Permite generar un unico 
bloque tematico, por cada bloque grande de container que hay en html.
- gap: No agrega espacio entre los laterales, solo agrega valor entre los elementos de flex.
*/

/***** NAVIGATION *****/

.nav_container{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5%;
    position: fixed;
    width: 100%;

    & .nav_logo {
        display: flex;
        align-items: center;
        gap: 10px;

        & img {
            width: 60px;
        }
    }

    & .nav_menu{
        display: flex;
        gap: 50px;

        & .nav_item {
            transition: 0.3s;
        }

        & .nav_item:hover { /*Hold over*/
            color: var(--secundary-color)
        }


    }
}

.nav_active {
    background-color: var(--primary-alpha-color);
}

/***** HOME *****/

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5%;

    & h1 {
        font-size: 5rem;
    }

    & span {
        color: var(--primary-color);
    }
    
}

/***** VH *****/

.vh {
    height: 100vh;
    background-color: var(--white-color);
}




